:root{
    --orange-color: rgb(234, 88, 12);
}

* {
    box-sizing: border-box;
}

.heading {
    text-align: center;
}

.heading span {
    color: var(--orange-color);
}

.heading h2 {
    margin-bottom: 0.1rem;
    line-height: 1;
}

.subtext {
    text-align: center;
    margin-bottom: 2rem;
}

.app-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

.input-card {
    display: flex;
    flex-direction: column;
}

.mb-p-1 {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.input-card > button {
    padding: 0.5rem;
}

.display-container {
    height: 50%;
    width: 95%;
    margin: 0rem auto;
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-color: black;
    scrollbar-width: thin;
}

.note-card {
    margin: 0.8rem 0rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-card-content {
    display: none;
}

.add-btn {
    border: none;
    background-color: rgb(234, 88, 12);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    margin-right: 0.3rem;
}

.copy-btn {
    border: none;
    background-color: rgb(234, 88, 12);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    margin-right: 0.3rem;
}

.delete-btn {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin-right: 0.3rem;
}